@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400);html {
  background-color: #fdfffd !important;
}

Body {
  font-family: 'Josefin Sans' !important;
  font-size: 16px !important;
  background-color: #fdfffd !important;
}

